<div>
    <div class='listaNotas'>

        <div class="btn-group-vertical">
            <div *ngFor="let item of listaInicio" class="btn-group" role="group" aria-label="Inicio">
                <button id="inicio" class="btn btn-secondary" type="button" (click)="editar(item)"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button>
                <button id="inicio" type="button" class="btn btn-secondary" (click)="eliminar(item)">X</button>
            </div>
        </div>    

        <!--
            <div class ='col-3'id ='filaMostrar'>
                <div class="btn-group-vertical">
                    <div *ngFor="let item of aProceso" class="btn-group" role="group" aria-label="Iniciado">
                        <button id="proceso"class="btn btn-secondary"type="button" (click)="editar(item)"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button>
                        <button id="proceso"type="button" class="btn btn-secondary" (click)="eliminar(item)">X</button>
                    </div>
                </div> 
            </div>

            <div class ='col-3'id ='filaMostrar'>
                <div class="btn-group-vertical">
                    <div *ngFor="let item of aTerminado" class="btn-group" role="group" aria-label="Iniciado">
                        <button id="terminado"class="btn btn-secondary"type="button"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button>
                        <button id="terminado"type="button" class="btn btn-secondary" (click)="eliminar(item)">X</button>
                    </div>
                </div> 
            </div>
        -->
    </div>

    <footer>
        <button class="btn btn-primary" type='button' (click)="adicionar()">Adicionar</button>
    </footer>
</div>